models*/
launch*
requirements_old.txt
container.def
container*
.remi/
pretr_weights
**/__pycache__
.venv
.vscode
.ipynb_checkpoints
xc_utils/dist
Compute_model_accuracy.ipynb
*.csv
nbm_ia_v2/
detr/
faster*/
nbm_effdet/
dist/
efficient*/
XC_annots/
*.svg
*.ipynb
*.toml
*.sh
detr/
dist/
efficientdet_pytorch/
faster_rcnn_v1/
model_weights/
nbm_effdet/
.gitignore