pyworld
pyyaml
ffmpeg-python
imageio
imageio-ffmpeg
numpy
opencv-python
pandas
requests
scikit-image
scikit-learn
scipy
torch
torchvision
tqdm
urllib3
tensorboard>=1.14
matplotlib
git+https://github.com/ytdl-org/youtube-dl.git@master#egg=youtube_dl
protobuf<=3.20.1

